/***
******* Header
***/
.header {
  display: grid;
  height: 5rem;
  background: var(--pri-color);
  padding: 0 1rem;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  font-family: times;
  /*grid-gap: 1rem;
  /*border: 1px solid black;*/
}

.logo {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 3rem;
  margin: auto 0;
  /*border: 1px solid black;*/
}

.escrowme__logo--image {
  width: 100%;
}

.nextbrain {
  color: white;
  display: grid;
  align-content: center;
  text-align: center;
}

.signup {
  box-shadow: 0 0 2rem var(--pri-color);
  display: grid;
  align-content: center;
  justify-content: center;
  height: 3rem;
  margin: auto 0;
  color: white;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 1px solid var(--pri-2-color);
  /*background: var(--pri-2-color);*/
  /*border: 1px solid black;*/
}

.signup__active {
  background: var(--pri-2-color);
}

.login__active {
  background: var(--pri-2-color);
}

.login {
  box-shadow: 0 0 2rem var(--pri-color);
  display: grid;
  align-content: center;
  justify-content: center;
  height: 3rem;
  margin: auto 0;
  color: white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 1px solid var(--pri-2-color);
  /*background: var(--pri-2-color);*/
  /*border: 1px solid black;*/
}


/***
******* Login Content
****/
.form__content {
  width: 60%;
  margin: 15rem auto;
  padding: 3rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 4rem var(--bg-color);
  background: white;
  /*border: 1px solid black;*/
}

.form__header {
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 3rem;
  margin: 0 0 2rem 0;
  color: var(--pri-color);
}

.form__temp {
  margin: .7rem 2rem;
  /*border: 1px solid black;*/
}

.form__input {
  width: 95%;
  height: 3rem;
  margin: 1rem 0;
  padding: 0 .5rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

.form__input:focus:invalid {
  border-bottom: 2px solid red;
  box-shadow: 0 0 2rem #cccccc;
}

.login__btn {
  width: 100%;
  background: var(--pri-color);
  height: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem var(--bg-color);
  color: white;
  text-align: center;
  font-family: times;
  border: none;
}

.forgot__password--text {
  color: var(--pri-color);
  font-size: 1rem;
  display: grid;
  justify-content: end;
}

.active__black:focus {
  background: white;
  outline: var(--pri-color);
  box-shadow: 0 0 2rem #cccccc;
  font-weight: 900;
  transition: background 2s;
  color: black;
}

.active__black:active {
  background: white;
  outline: var(--pri-color);
  box-shadow: 0 0 2rem #cccccc;
  font-weight: 900;
  transition: background .5s;
  color: black;
}


/***
****** Footer
***/

.footer {
  width: 100%;
  padding: 1rem 0;
  background: white;
}

.footer__content {
  margin: 2rem;
  border-bottom: 2px solid var(--bg-color);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}
/*
"Merriweather", "Serif"
"Source sans pro", "Sans-Serif"
*/


.footer__content > div {
  font-family: "Merriweather", "Serif";
  /*border: 1px solid black;*/
}

.footer__content > div ul {
  list-style-type: none;
}

.footer__content > div h5 {
  padding: 0 0 1.5rem 0;
}

.footer__content > div ul li {
  padding: 0 0 1rem 0;
  font-size: 1rem;
}

.footer__content > div:nth-child(2) ul li {
  font-size: 2rem;
}

.footer__content > div p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: "Source sans pro", "Sans-Serif";
}

.footer__copyright {
  margin: 0 2rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__copyright span:nth-child(2) {
  justify-self: end;
}

.footer__content > div:last-child p {
  margin: 1rem 0;
}

.xcrowme__logo {
  width: 80%;
  height: 4rem;
  margin: 1rem auto;
}

/*
.footer__content--section {
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
}

.footer__content--section a {
  color: white;
  margin: 0 0 1rem 0;
}

.footer__content--section p:nth-child(1) {
  margin: 0 0 1.5rem 0;
  border-left: 6px solid var(--pri-2-color);
  padding: 0 0 0 .5rem;
  color: black;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
}

.footer__content:nth-child(1) {
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer__content:nth-child(2) {
  
}

.footer__logo {
  width: 80%;
  height: 4rem;
  margin: 2rem auto;
  /*background: white;
  border-radius: .5rem;
  /*background: white;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  color: var(--pri-color);
  font-family: "Merriweather", "Serif";
  font-weight: 900;
  /*border: 1px solid black;*//*
}

.es__logo {
  width: 100%;
}

.social__media {
  text-align: center;
  font-size: 2rem;
  color: white;
  /*border: 1px solid black;*//*
}

.space {
  padding: .5rem;
}
/*
.footer__copyright {
  width: 100%;
  height: 2rem;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  color: white;
  background: var(--pri-2-color);
  display: grid;
  align-content: center;
  justify-content: center;
}*/
/*
.footer {
  height: 25rem;
  background: var(--pri-color);
  padding: 1rem 0 0 0;
  /*position: absolute;
  bottom: 0;*//*
}

.footer__content {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  color: white;
}

.footer__content--section {
  display: grid;
  justify-content: center;
}

.footer__copyright {
  height: 20%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  background: #72c5e2;
}
*/
/***
****** Dashboard
***/

/*

.landing__page__header {
  height: 7rem;
  padding: 0 1rem;
  background: white;
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-column-gap: 4rem;
  align-content: center;
  justify-content: center;
}

.landing__link__container {
  display: grid;
  grid-template-columns: 5rem 5rem;
  justify-content: right;
  grid-gap: 1rem;
}

.landing__logo {
  height: 3rem;
}

.landing__logo img {
  height: 100%;
  width: 100%;
}

.landing__link__container  > a {
  height: 3rem;
  border-radius: .5rem;
  border: 1px solid var(--pri-color);
  font-size: 1rem;
  text-align: center;
  font-family: "Merriweather", "Serif";
  border: 1px solid var(--pri-color);
  display: grid;
  align-content: center;
  font-weight: 900;
}

.landing__page__header > a:active, .landing__page__header > a:focus {
  background: linear-gradient(30deg, var(--pri-color), var(--pri-2-color));
}


.landing__signup {
  color: white;
  background: var(--pri-2-color);
}

.landing__login {
  color: white;
  background: var(--pri-color);
}
*/

.dashboard__header {
  /*width: 100%;*/
  height: 5rem;
  padding: 0 0 0 1rem;
  display: grid;
  grid-gap: 1rem;
  background: white;
  grid-template-columns: .6fr 2fr 3fr 1fr 2fr;
  position: relative;
  /*position: fixed;
  /*border: 1px solid black;*/
}

.header__menu {
  height: 3rem;
  /*border: 1px solid black;*/
  display: grid;
  align-content: center;
  justify-content: center;
  align-self: center;
  background: var(--pri-color);
}

#bars {
 font-size: 2rem;
  color: white;
}

.user__level {
  height: 3rem;
  background: var(--pri-color);
  color: white;
  border-radius: .5rem;
  margin: auto 0;
  font-size: 1rem;
  text-align: center;
  display: grid;
  align-content: center;
  border: 1px solid var(--bg-color);
  
}

.user__avatar {
  height: 3rem;
  margin: auto 1rem auto 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2.3rem 1fr;
  align-content: center;
  justify-content: center;
  /*position: relative;*/
  /*border: 1px solid black;*/
}

.user__avatar--pics {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-self: center;
}

.user__username {
  /*border: 1px solid black;*/
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 2rem;
}

.drop__down {
  position: absolute;
  right: 1rem;
  top: 5rem;
  width: 17rem;
  border: 1px solid var(--bg-color);
  padding: 1.5rem;
  background: var(--pri-2-color);
  border-radius: .5rem;
  grid-gap: 1rem;
  transition: 2s;
  color: #cccccc;
  z-index: 10;
  display: none;
}

.drop__down--content {
  margin: 0 0 1rem 1rem;
  color: white;
  font-weight: 700;
}

.drop__down--content span a {
  color: white;
}

.drp__padding {
  padding: 0 0 0 1rem;
}

/* LEFT DROP DOWN */
.navigation {
  position: absolute;
  top: 5rem;
  z-index: 9999;
  height: calc(100% - 5rem);
  width: 0;
  transition: .5s;
  overflow: hidden;
  background: white;
  /*border: 1px solid black;*/
}

.navigation:hover,
	.navigation.active{
	width: 40%;
}

.navigation ul{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
}

.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}

.navigation ul li:hover{
	background: var(--pri-color);
}

.navigation ul li a{
	position: relative;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: black;
}

.navigation ul li a .icon{
	position: relative;
	min-width: 5rem;
	display: block;
	height: 6rem;
	line-height: 6rem;
	text-align: center;
	font-size: 3rem;
}
.navigation ul li a .nav__text{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 6rem;
	line-height: 6rem;
	text-align: start;
	white-space: nowrap;
}


.basic__user--content {
  width: 100%;
  height: 15rem;
  background: var(--pri-color);
  position: relative;
  /*border: 1px solid black;*/
}

.welcome__onboard {
  font-family: Arial;
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  height: 40%;
  display: grid;
  align-content: center;
  /*border: 1px solid black;*/
}

.user__detail {
  width: 80%;
  height: 58%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-content: center;
  /*border: 1px solid black;*/
}

.user__detail--content {
  justify-self: end;
}

.user__detail--pics {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.user__detail--wallet {
  justify-self: start;
  align-self: center;
  color: var(--bg-color);
  font-family: times;
  font-weight: 700;
  font-family: Courier;
}

.dashboard__content {
  width: 90%;
  background: white;
  height: 10rem;
  margin: 1rem auto;
}

/* User menu style goes here  */
/*
.user__menu {
  width: 80%;
  margin: 3rem auto;
  /*border: 1px solid black;*//*
}

.menu__header {
  font-family: times;
  font-weight: 700;
  margin: 2rem 0;
  /*border: 1px solid black;*//*
}

.user__menu--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.menu {
  border-radius: 1rem;
  background: white;
  height: 12rem;
}

.btc {
  font-size: 5rem;
  display: grid;
  justify-content: center;
  margin: 1.5rem auto;
}

.menu__text {
  font-family: Arial;
  text-align: center;
  background: var(--pri-color);
  width: 10rem;
  padding: .5rem;
  margin: 0 auto;
  border-radius: 1rem;
  color: white;
}

.menu__text a {
  color: white;
}

/* User activity style goes here */
.user__activity {
  width: 90%;
  margin: 1rem auto;
  background: white;
  height: 20rem;
}


/***
****** Profile page
***/
.profile__container {
  width: 90%;
  border-radius: 1rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1.6fr 3fr;
  border: 1px solid white;
}

.profile__sidebar {
  background: var(--pri-color);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
}

.profile__sidebar--text {
  color: white;
  margin: 2rem auto;
  padding: 1rem;
  /*background: #72c5e2;*/
}

.profile__active {
  background: #72c5e2;
  border-left: 3px solid white;
  transition: all .6s;
}

.profile__margin {
  padding: 0 0 0 .6rem;
}

.profile__margin a {
  color: white;
}

.profile__content {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: white;
  padding: 1rem;
}

.profile__content--container {
  margin: 2rem auto 3rem;
  width: 90%;
}

.profile__content--header {
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 .5rem;
  font-weight: 700;
  border-left: 4px solid var(--pri-color);
}

.profile__content--pics {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.update__profile--btn {
  width: 10rem;
  background: var(--pri-color);
  height: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem var(--bg-color);
  color: white;
  text-align: center;
  font-family: times;
  border: none;
  display: grid;
  justify-content: end;
}

.profile__settings {
  font-size: 1rem;
  margin: 1rem 0;
}

.profile__form--input {
  width: 95%;
  height: 3rem;
  margin: .5rem 0;
  padding: 0 .5rem;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

.profile__form--input:focus:invalid {
  border-bottom: 2px solid red;
  box-shadow: 0 0 2rem #cccccc;
}


.upload__image {
  margin: 2rem 0 0;
  opacity: 0;
}

#upload__image--label {
  background: var(--pri-color);
  padding: .5rem;
  border-radius: 1rem;
  color: white;
}

.verification__container {
  margin: 4rem auto 2rem;
  position: relative;
  /*border: 1px solid black;*/
}
/*
.level__limit {
  position: absolute;
  left: .5rem;
  top: -.5rem;
  font-size: .8rem;
  font-weight: 900;
}*/


.verification__status {
  color: var(--pri-color);
  margin: 0 auto 1.5rem;
  font-weight: 900;
  height: 3rem;
  border-radius: .7rem;
  font-size: 1.3rem;
  background: white;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr;
  align-content: center;
  justify-content: center;
  /*border: 1px solid green;*/
}

.fa-check {
  justify-self: end;
  align-self: center;
}

.is__verified {
  color: white;
  margin: 0 auto 1rem;
  font-weight: 600;
  height: 2.5rem;
  font-size: 1rem;
  background: green;
  border-radius: .7rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr;
  align-content: center;
  justify-content: center;
  border: 1px solid green;
  border-left: 4px solid green;
}

.isnot__verified {
  color: white;
  margin: 0 auto 1rem;
  font-weight: 600;
  height: 2.5rem;
  font-size: 1rem;
  background: red;
  border-radius: .7rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2rem 1fr;
  align-content: center;
  justify-content: center;
  border: 1px solid red;
  border-left: 4px solid red;
}

.fa-check-circle {
  justify-self: end;
  align-self: center;
}

.fa-ban {
  justify-self: end;
  align-self: center;
}


/***
****** Transaction Page style
***/
.profile__filter--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.filter__text {
  align-self: center;
}

#transaction__filter {
  justify-self: end;
}

.select__transaction--class {
  height: 3rem;
  padding: 0 .5rem;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

.transaction__history {
  /*font-size: .5rem;*/
}

table, th, td {
  font-size: .8rem;
  margin: 1rem auto;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: .2rem;
}

.export__csv {
  width: 15rem;
  background: var(--pri-color);
  height: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem var(--bg-color);
  color: white;
  text-align: center;
  font-family: times;
  border: none;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
}


/* id card container */
.id__card--container
{
  font-size: 1rem;
  display: grid;
  /*grid-template-columns: 1fr 1fr;
  align-content: center;*/
}

#id__card--form {
  justify-self: end;
}

.id__card--content {
  align-self: center;
}

.select__id--card--class {
  height: 3rem;
  padding: 0 .5rem;
  margin: 0 0 1rem 0;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

#id__card--label {
  padding: .5rem;
  border-radius: 1rem;
  background: var(--pri-color);
  color: white;
}

#image {
  opacity: 0;
}

/***
****** But Bitcoin
***/


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ BUY BITCOIN **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

/* "Merriweather", "Serif" "Source sans pro", "Sans-Serif" */

.buy__bitcoin--container {
  font-family: "Source sans pro", "Sans-Serif";
}

.buy__bitcoin--header {
  width: 90%;
  background: #c1e8f5;
  margin: 1.5rem auto;
  border-radius: 1rem;
  padding: 1rem 0;
}

.buy__bitcoin--header p:nth-child(1) {
  font-family: "Source sans pro", "Sans-Serif";
  font-weight: 400;
  font-size: 2rem;
  margin: 0 1rem 1rem 1rem;
}

.buy__bitcoin--header p:nth-child(2) {
  font-family: "Source sans pro", "Sans-Serif";
  font-size: 1rem;
  margin: 0 1rem 0 1rem;
  width: 35rem;
}

.search__offer--container {
  margin: 0 auto 1rem;
  width: 90%;
  padding: 1rem 0;
  background: white;
  border-radius: 1rem;
  /*border: 1px solid black;*/
}

#search__offer--form {
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.search__container--form {
  font-family: "Merriweather", "Serif";
  font-size: 1rem;
  font-weight: 700;
  /*border: 1px solid black;*/
}

#select__payment--type {
  width: 95%;
  height: 2rem;
  background: white;
  border: none;
  border-bottom: 2px solid var(--pri-color);
  margin: .2rem 0 0 0;
  font-family: "Merriweather";
}

#select__amount--type {
  width: 95%;
  height: 2rem;
  background: white;
  border: none;
  border-bottom: 2px solid var(--pri-color);
  margin: .2rem 0 0 0;
  font-family: "Merriweather", "Serif";
}

.search__offer--btn {
  background: var(--pri-color);
  height: 2.5rem;
  border-radius: .5rem;
  width: 95%;
  justify-self: center;
  align-self: center;
  color: white;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  border: none;
  box-shadow: 0 0 2rem white;
  font-size: 1.3rem;
}

.bold__current--price {
  font-weight: 900;
}

.list__offers--container {
  margin: 1rem auto 1rem;
  width: 90%;
  padding: 1.5rem 0;
  /*border: 1px solid black;*/
}

.list__offer--header {
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  text-align: center;
  margin: 0 0 1rem 0;
}

.list__of--offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.list__offer--title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  grid-column-gap: 2rem;
  /*align-items: center;
  /*border: 1px solid black;*/
}

.list__offer--title > p {
  background: white;
  border-radius: .5rem;
  display: grid;
  align-content: center;
  justify-content: center;
}

.list__offer--content {
  margin: 1rem 0;
}

.list__offer {
  width: 100%;
  margin: 0 auto .5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  height: 5rem;
  grid-column-gap: 2rem;
  align-content: center;
  justify-content: center;
  background: white;
  border-radius: .5rem;
  font-size: 1rem;
}

.list__offer > p {
  display: grid;
  justify-content: center;
  align-content: center;
}

.offer__buy {
  width: 50%;
  height: 3rem;
  border-radius: .5rem;
  background: var(--pri-color);
  color: white;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
}



/*

.table__header {
  width: 90%;
  background: white;
  border-radius: .5rem;
  border: 1px solid var(--bg-color);
}

.table__header tr {
  height: 2rem;
}

.table__header tr th {
  font-size: 1.2rem;
  text-align: center;
}

.table__header, table, tr, th, td {
  border: none;
}

.offer {
  width: 90%;
  margin: 0 auto;
  background: white;
  display: grid;
  align-content: center;
  border-radius: .5rem;
  padding: 0 0 1rem 0;
}

.offer:nth-child(even) {
  background: var(--bg-color);
  box-shadow: 0 0 2rem white;
}

.offer__content {
  font-family: "Source sans pro", "Sans-Serif";
  width: 100%;
  font-size: 2rem;
  text-align: center;
  /*border: 1px solid black;*//*
}

.offer__content td {
  padding: 1rem 0;
  font-size: 1.3rem;
  font-family: "Merriweather", "Serif";
  /*border: 1px solid black;*//*
}

.offer__content td:nth-child(4) {
  background: var(--pri-color);
  border-radius: .5rem;
  /*padding: 1rem 1.5rem;*//*
}

.offer__allowed {
  text-align: center;
  width: 5rem;
  height: 2rem;
  border: 1px solid green;
  border-radius: .5rem;
}

.allowed {
  border-left: 4px solid green;
}

.not__allowed {
  border-left: 4px solid red;
}

.not__allowed--flag {
  display: grid;
  justify-content: center;
  background: red;
  border-radius: .5rem;
  width: 25rem;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: "Merriweather", "Serif";
  /*font-family: "Source sans pro", "Sans-Serif";*//*
  font-size: 1.2rem;
}*/

/***
****** User Trade Style
***/


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++++++ USER TRADE **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

.user__trade--container {
  width: 90%;
  margin: 2rem auto;
  border-radius: 1rem;
  background: white;
  padding: 0 0 2rem 0;
  /*border: 1px solid black;*/
}

.user__trade--header {
  width: 100%;
  padding: 2rem 0;
  background: var(--pri-color);
  color: white;
  font-weight: 300;
  font-family: "Source sans pro", "Sans-Serif";
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
}

.user__trader--name {
  font-weight: 700;
}

.user__trader--payment {
  font-weight: 700;
}

.user__trader--detail {
  width: 80%;
  font-family: "Merriweather", "Serif";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  box-shadow: 0 0 2rem var(--bg-color);
  margin: 4rem auto 2rem;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
}

.user__trader--detail div p:nth-child(2) {
  font-family: "Source sans pro", "Sans-Serif";
  font-size: 1rem;
  font-weight: 700;
  margin: .3rem 0 0 0;
}

#send__buy--request {
  width: 60%;
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  /*border: 1px solid black;*/
}

#send__buy--request .form__temp label {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.buy__request--btn {
  padding: 1rem 2rem;
  background: var(--pri-color);
  color: white;
  text-align: center;
  border-radius: 1rem;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ SEND RECEIVE *************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

.send__receive--container {
  width: 90%;
  margin: 3rem auto;
  /*border: 1px solid black;*/
}

.send__receive--header {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: "Merriweather", "Serif";
  font-weight: 800;
  /*border: 1px solid black;*/
}

.send__receive--header p:nth-child(1), p:nth-child(2) {
  height: 4rem;
  display: grid;
  align-content: center;
}

.send__btc--active {
  background: var(--pri-color);
  color: white;
  border-radius: .5rem;
  box-shadow: 0 0 2rem white;
}

#send__content {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 0;
  background: white;
  border-radius: .5rem;
  display: none;
  /*border: 1px solid black;*/
}

#receive__content {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 0;
  background: white;
  border-radius: .5rem;
  display: none;
  /*border: 1px solid black;*/
}

.send__btc--btn {
  width: 85%;
  padding: 1rem 2rem;
  background: var(--pri-color);
  color: white;
  text-align: center;
  border-radius: 1rem;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ LANDING PAGE *************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
/* This turn off showing the meneu when in desktop mode */
.landing__menu {
  display: none;
}

.landing__page__header {
  /*width: 100%;*/
  height: 7rem;
  padding: 0 1rem;
  background: white;
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-column-gap: 4rem;
  align-content: center;
  justify-content: center;
}

.landing__link__container {
  display: grid;
  grid-template-columns: 5rem 5rem;
  justify-content: right;
  grid-gap: 1rem;
}

.landing__logo {
  height: 2.5rem;
}

.landing__logo img {
  height: 100%;
  width: 100%;
}

.landing__link__container  > a {
  height: 2.5rem;
  border-radius: .5rem;
  border: 1px solid var(--pri-color);
  /*background: var(--bg-color);*/
  font-size: 1rem;
  text-align: center;
  font-family: "Merriweather", "Serif";
  border: 1px solid var(--pri-color);
  display: grid;
  align-content: center;
  font-weight: 900;
}

.landing__page__header > a:active, .landing__page__header > a:focus {
  background: linear-gradient(30deg, var(--pri-color), var(--pri-2-color));
}


.landing__signup {
  color: white;
  background: var(--pri-2-color);
  /*background: linear-gradient(30deg, var(--pri-color), var(--pri-2-color));*/
}

.landing__login {
  color: white;
  background: var(--pri-color);
  /*background: linear-gradient(30deg, var(--pri-color), var(--pri-2-color));*/
}

.count__down__container {
  width: 90%;
  margin: 3rem auto;
  border-radius: .5rem;
  background: white;
  padding: 3rem 0;
}

.count__down {
  width: 90%;
  margin: 0 auto 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  /*border: 1px solid black;*/
}

.count__down__text {
  height: 10rem;
  border-radius: .5rem;
  padding: 1rem;
  position: relative;
  font-family: "Merriweather", "Serif";
  text-align: center;
  box-shadow: 0 1rem 2rem rgb(238,238,238);
}

.count__down__text > p:nth-child(1) {
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem 0 0;
  text-align: center;
}

.count__down__text > p:nth-child(2) {
  position: absolute;
  bottom: .5rem;
  font-weight: 900;
  text-align: center;
}

.count__down__message {
  position: relative;
  margin: 0 auto;
  font-weight: 700;
  width: 90%;
  text-align: center;
  animation: countDownMessage 5s linear infinite;
}

@keyframes countDownMessage {
  0% {
    opacity: 0;
    /*transform: translateX(100px);*/
    left: 50px;
  }
  50% {
    opacity: 1;
    /*transform: translateX(0);*/
    left: 0;
    transform: scale(1.2);
    color: var(--pri-color);
  }
  100% {
    opacity: 0;
    /*leftsform: translateX(-100px);*/
    left: -50px;
  }
}

@keyframes countDownValue {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    leftsform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.accept__policy {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  background: black;
  color: white;
  display: grid;
  align-content: center;
  font-weight: 700;
  animation: slideUp 1s linear;
}

.accept__policy div a {
  color: var(--pri-2-color);
  font-weight: 800;
}


.accept__policy--action {
  padding: 1rem 0 0 0;
  margin: 3rem 0 1rem;
  /*border-top: 4px solid var(--pri-color);*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.btn__go {
  width: 60%;
  padding: .4rem .2rem;
  border-radius: .5rem;
  background: none;
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
  background: var(--pri-color);
  border: none;
}
.btn__decline {
  width: 60%;
  padding: .7rem .2rem;
  border-radius: .5rem;
  background: none;
  font-size: 1.5rem;
  color: white;
  border: none;
  background: var(--pri-2-color);
  font-weight: 700;
}





/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ LANDING PAGE *************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.landing {
  width: 100%;
  padding: 1rem 0 0 0;
  position: relative;
  /*background: var(--pri-color), url("../img/main-landing-svg.jpg");*/
  /*background: linear-gradient(180deg, rgba(63,107,148,0.4), rgba(239,125,50,0.5)), url("../img/banner_ilustration1.png");*/
  /*background: url("../img/banner_ilustration1.png");*/
  background: var(--pri-color);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0;
}

.landing__overview {
  position: relative;
  width: 100%;
  height: 80rem;
  margin: 0 0 5rem 0;
  /*border: 1px solid black;*/
}

.landing img {
  position: relative;
  left: 7rem;
  top: 5rem;
  width: 50rem;
  height: 40rem;
  animation: moveForward 7s linear infinite;
}

@keyframes moveForward {
  0% {
    top: 0;
    /*opacity: 1;*/
  }
  50% {
    top: 1rem;
    /*opacity: .3;*/
  }
  100% {
    top: 0;
    /*opacity: 0;*/
  }
}

.landing__excrowme--text {
  font-size: 6rem;
  font-family: Verdana;
  position: absolute;
  font-weight: 900;
  top: 3.5rem;
  left: 4rem;
  /*webkit-text-stroke-color: white;
  webkit-text-stroke-width: 1rem;
  text-stroke: black 1rem;*/
}

.landing__excrowme--text span:nth-child(1) {
  /*webkit-text-stroke-color: white;
  webkit-text-stroke-width: 1rem;
  text-stroke: 1rem white;*/
  color: var(--pri-2-color);
}

.landing__excrowme--text span:nth-child(2) {
  color: var(--pri-color);
}

.landing__small--text {
  color: white;
  line-height: 3rem;
  width: 70%;
  font-weight: 700;
  font-size: 3rem;
  /*margin: 15rem 0 1rem 4rem;*/
  position: relative;
  top: 5rem;
  left: 5rem;
  letter-spacing: .2rem;
  word-spacing: 1.3rem;
  line-height: 5rem;
  font-family: "Merriweather", "Serif";
}

.landing__getstarted {
  position: relative;
  top: 10rem;
  width: 30rem;
  height: 4rem;
  border-radius: 20rem;
  left: 5rem;
  display: grid;
  align-content: center;
  justify-content: center;
  background: var(--pri-2-color);
  font-family: "Merriweather", "Serif";
  padding: 2rem;
  /*border: 1px solid black;*/
}

.landing__getstarted a {
  color: white;
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
  letter-spacing: .2rem;
}

.landing__getstarted {
  background: var(--pri-2-color);
}

.landing__getstarted:hover {
  background: rgb(110,48,7);
}

.landing__section {
  background: white;
  width: 100%;
  height: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-content: center;
  justify-content: center;
  position: relative;
}

.landing__section--content {
  width: 85%;
  margin: 1rem auto;
  border-radius: 1rem;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1rem var(--dark-bg-color);
}

.landing__section--content img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin: 0 0 0 -7.5rem;
}

.landing__section--content h2 {
  margin: 2rem 0 2rem;
  color: var(--pri-color);
  text-align: center;
  font-size: 2rem;
}

.landing__section--content div {
  width: 90%;
  margin: .5rem auto;
  font-size: 1.2rem;
  word-spacing: 1.2rem;
  line-height: 2rem;
}




.landing__step--one {
  width: 100%;
  height: 35rem;
  position: relative;
  margin: 0 0 5rem 0;
  /*border: 1px solid black;*/
}

.landing__step--one img {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 30rem;
  width: 40rem;
  animation: moveForward 7s linear infinite;
}

.landing__step--one h2 {
  position: relative;
  text-align: right;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin: 5rem 2rem 0 0;
}

.landing__step--one div {
  color: white;
  line-height: 3rem;
  width: 60%;
  font-weight: 700;
  font-size: 2rem;
  /*margin: 15rem 0 1rem 4rem;*/
  position: relative;
  top: 3rem;
  text-align: right;
  left: 22rem;
  letter-spacing: .2rem;
  word-spacing: 1.3rem;
  font-family: "Merriweather", "Serif";

}
/*
.landing__step--two {
  width: 100%;
  height: 30rem;
  position: relative;
  margin: 0 0 0 0;
  background: var(--bg-color);
}

.landing__step--two img {
  position: absolute;
  right: 1rem;
  margin: auto 0;
  height: 25rem;
  width: 60%;
  animation: moveForward 6s linear infinite;
}


.landing__step--two h2 {
  position: relative;
  top: 5rem;
  left: 2rem;
  width: 60%;
  color: var(--pri-color);
  font-weight: 900;
  font-size: 3rem;
}

.landing__step--two div {
  color: var(--pri-color);
  line-height: 3rem;
  width: 60%;
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  top: 6.5rem;
  left: 2rem;
  word-spacing: 1rem;
  font-family: "Merriweather", "Serif";
}
*/









/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++ LANDING PAGE  Q&A **********
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.question__answer__container {
  margin: 0 auto 2rem;
  background: white;
  border-radius: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}

/*.question__answer__container div:nth-child(1) {*/
.question__answer__text {
  font-family: "Merriweather", "Serif";
  padding: 4rem 2rem;
}

.question__answer__list {
  font-family: "Merriweather", "Serif";
  font-size: 1rem;
  padding: 2rem;
  /*border: 1px solid black;*/
}

.question__answer__content {
  box-shadow: 0 0 1rem var(--dark-bg-color);
  margin: 0 0 2rem 0;
  /*padding: 0 0 1rem 0;*/
  border-radius: .5rem;
}

.question__answer__tab {
  width: 100%;
  padding: .5rem 0;
  font-family: "Merriweather", "Serif";
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  background: var(--bg-color);
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 5rem;
  align-content: center;
  justify-content: center;
}

.question__answer__tab p:nth-child(1) {
  justify-self: left;
  align-self: center;
  padding: 0 0 0 1rem;
}

.question__answer__tab div:nth-child(2) {
  justify-self: right;
  /*border: 1px solid black;*/
  padding: 0 1rem 0 0;
}

.answer__content {
  width: 90%;
  margin: 0 auto;
  line-height: 1.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0 1rem 0;
  font-family: "Source sans pro", "Sans-Serif";
  /*border: 1px solid black;*/
  display: none;
}

.answer__content__active {
  display: block;
  animation: widthIn .3s linear;
}

.plus {
  background: white;
  height: 50%;
  width: 60%;
  font-size: 2rem;
  border-radius: 50%;
  text-align: center;
  /*display: grid;
  align-content: center;
  justify-items: center;
  /*justify-content: center;*/
}

@keyframes widthIn {
  0% {
    /*width: 0;*/
    opacity: 0;
  }
  100% {
    /*width: 90%;*/
    opacity: 1;
  }
}




/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++ LANDING PAGE  Dis **********
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.brief__container {
  width: 95%;
  margin: 4rem auto 2rem;
  display: grid;
  grid-row-gap: 4rem;
  /*border: 1px solid black;*/
}

.brief__content {
  display: grid;
  grid-template-columns: 2.2fr .8fr;
  position: relative;
  /*border: 1px solid black;*/
}

.brief__content div:nth-child(1) {
  
  /*border: 1px solid green;*/
}

.brief__content div:nth-child(1) img {
  width: 100%;
  height: 35rem;
  border-radius: 1rem;
  border: .2rem solid white;
}

.brief__content div:nth-child(2) {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: 25rem;
  /*height: 20rem;*/
  background: white;
  border-radius: 1rem;
  border: .2rem solid white;
}

.brief__content div:nth-child(2) {
  padding: 2rem 1.2rem;
}

.brief__content div:nth-child(2) p {
  margin: 0 0 1rem 0;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-column-gap: 2rem;
  /*border: 1px solid black;*/
}

.brief__content div:nth-child(2) p span:nth-child(1) {
  /*background: var(--pri-color);*/
  background: white;
  box-shadow: .5rem 1rem 1rem var(--dark-bg-color);
  border-radius: 50%;
  color: black;
  height: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
}

.brief__content div:nth-child(2) p span:nth-child(2) {
  font-size: 1rem;
  display: grid;
  align-content: center;
}






/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++ NOTIFICATION PAGE **********
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.notification__container {
  width: 80%;
  margin: 2rem auto;
  border-radius: 1rem;
  background: white;
  padding: 2rem;
}

.notification__title {
  width: 90%;
  margin: 0 auto 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  border-bottom: 2px solid black;
  padding: 0 0 .5rem 0;
}

.notification__title div:nth-child(2) {
  justify-self: right;
}

.notification__amount {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--pri-color);
  color: white;
  display: grid;
  align-content: center;
  justify-content: center;
}


.notification__box {
  width: 90%;
  margin: 0 auto 2rem;
  padding: 1rem 0 0 0;
  box-shadow: .4rem .6rem 1rem var(--dark-bg-color);
  border-radius: 1rem;
  background: white;
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-content: center;
  grid-column-gap: 3rem;
}

.notification__image__container {
  display: grid;
  align-content: center;
  justify-content: center;
}

.notification__image__container img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 0 0 1rem;
}

.notification__text {
  margin: 1rem 0 1rem 0;
  font-size: 1rem;
  line-height: 1.7rem;
}

.notification__date {
  text-align: right;
  font-size: 1rem;
  background: var(--pri-color);
  color: white;
  border-radius: .5rem;
  padding: .5rem 1rem;
  width: 4rem;
  margin: 0 0 1rem 0;
}

.new__notification {
  background: #3f6b9447;
}

/*
NOTIFICATION
*/

.popup {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 0 0 -15rem;
  background: white;
  width: 30rem;
  height: 20rem;
  border-radius: .5rem;
  border: 2px solid var(--pri-color);
  z-index: 100;
  animation: zoomIn .4s linear;
  display: none;
  /*border: 1px solid black;*/
}

.close__popup {
  position: absolute;
  font-size: 2rem;
  top: .7rem;
  right: 1.2rem;
  color: red;
  box-shadow: .4rem .6rem 1rem var(--dark-bg-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  font-family: "Source sans pro", "Sans-Serif";
}

.notification__form {
  margin: 6rem auto 3rem;
  width: 85%;
  /*border: 1px solid black;*/
}

.notification__form div {
  margin: 0 auto 2rem;
}

.notification__form div input {
  padding: .5rem;
  width: 95%;
  height: 2rem;
  background: white;
  border: none;
  border-bottom: 4px solid var(--pri-color);
  box-shadow: 0 0 1rem var(--dark-bg-color);
  font-family: "Merriweather", "Serif";
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3f6b9458;
  display: none;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++ NOTIFICATION PAGE **********
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.about__us {
  width: 90%;
  border-radius: .5rem;
  background: white;
  margin: 2rem auto;
  padding: 1rem 0;
}

/*
"Merriweather", "Serif"
"Source sans pro", "Sans-Serif"
*/

.about__us__container {
  width: 92%;
  margin: 1rem auto;
  position: relative;
}

.about__us__title {
  font-family: "Merriweather", "Serif";
  margin: 0 0 1rem 0;
}

.about__us__container div {
  line-height: 2rem;
  font-family: "Source sans pro", "Sans-Serif";
  margin: 1.5rem 0;
  font-size: 1rem;
}

.about__us__container a {
  font-weight: 600;
}

.inline__address {
  font-style: italic;
  font-weight: 600;
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ CAREER PAGE **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.career {
  width: 90%;
  border-radius: .5rem;
  background: white;
  margin: 2rem auto;
  font-size: 1rem;
  padding: 2rem 0;
}

.career__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.career__content p {
  margin: 0 0 1rem 0;
}

.career__content a {
  font-weight: 600;
}

/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ CAREER PAGE **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.members__container {
  width: 90%;
  border-radius: .5rem;
  background: white;
  margin: 2rem auto;
  padding: 2rem 0;
}

.members__container h3 {
  margin: .5rem 0 1rem 2rem;
  padding: 0 0 0 .5rem;
  border-left: 4px solid var(--pri-color);
}

.team__members {
  width: 95%;
  font-size: 1rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 1rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-content: center;
}

.member {
  width: 95%;
  background: var(--pri-color);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--bg-color);
  color: white;
  display: grid;
  justify-content: center;
}

.member img {
  width: 13rem;
  height: 13rem;
  margin: 1rem auto;
  border-radius: 50%;
  /*border: 4px solid var(--pri-2-color);*/
}

.memeber__position {
  text-align: center;
  margin: .5rem 0;
  font-weight: 700;
  font-family: "Source sans pro", "Sans-Serif";
  font-size: 1.5rem;
}

.memeber__bio {
  text-align: center;
  margin: .5rem auto;
  font-family: "Merriweather", "Serif";
  line-height: 1.7rem;
  width: 90%;
  word-spacing: .3rem;
}




/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++++++ ADMIN PAGE ***************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/
.admin__header {
  /*width: 100%;*/
  height: 5rem;
  padding: 0 0 0 1rem;
  display: grid;
  grid-gap: 1rem;
  background: white;
  grid-template-columns: .6fr 2fr 3fr 2fr 1fr;
  position: relative;
}

.admin__panel {
  background: var(--pri-color);
  border-radius: .5rem;
  color: white;
  font-weight: 700;
  height: 3rem;
  text-align: center;
  margin: auto 0;
  display: grid;
  align-content: center;
}

.admin__content {
  width: 90%;
  margin: 1rem auto 2rem;
  border-radius: 1rem;
  background: white;
  padding: 1rem .5rem;
}

.level__verification__header {
  margin: 2rem auto 0;
  width: 90%;
  border-left: 4px solid var(--pri-color);
  padding: 0 0 0 .5rem;
  /*background: var(--pri-2-color);
  border-radius: .5rem;
  display: grid;
  align-content: center;
  justify-content: center;*/
  
}

.level__verification__header h3 {
  font-family: "Merriweather", "Serif";
  color: var(--pri-color);
}

.level__verification__content {
  width: 95%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 80% 18%;
  grid-gap: 1rem;
  /*border: 1px solid black;*/
}

.level__verification--list {
  
  /*border: 1px solid green;*/
}

.level__verification--box {
  margin: 0 0 1rem 0;
  box-shadow: 0 0 .5rem var(--dark-bg-color);
  border-left: 4px solid var(--pri-color);
  background: var(--pri-color);
  border-radius: 1rem;
  padding: 1rem 0;
  /*border: 1px solid black;*/
}

.level__verification--box p {
  margin: 0 0 0 2rem;
  color: white;
  font-weight: 600;
  /*font-family: "Source sans pro", "Sans-Serif";*/
  font-family: "Merriweather", "Serif";
}

.level__verification__box--footer {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid white;
  padding: .8rem 0 0 0;
  margin: 1rem auto .5rem;
}

.level__verification__box--footer div:nth-child(1) a {
  color: black;
}
.level__verification__box--footer div:nth-child(1) {
  border-radius: 2rem;
  /*background: var(--pri-color);*/
  background: white;
  color: black;
  font-weight: 500;
  width: 11rem;
  height: 2.5rem;
  display: grid;
  align-content: center;
  justify-content: center;
}


.level__verification__box--footer div:nth-child(2) {
  color: white;
  font-weight: 500;
  display: grid;
  align-content: center;
  justify-content: end;
}

.level__verification--filter {
  /*border: 1px solid black;*/
}

.level__verification__filter--form {
  display: grid;
  justify-content: end;
  width: 90%;
}

.level__verification__filter--form select {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background: var(--pri-color);
  border-left: 3px solid var(--pri-2-color);
  color: white;
}


/*level verification details */
.level__verification--detail {
  width: 95%;
  margin: 2rem auto;
}

.level__verification--content {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 .5rem var(--pri-color);
  border-top: 5px solid var(--pri-color);
  background: white;
}

.level__verification--level {
  color: black;
  font-weight: 700;
}

.level__verification--username {
  color: black;
  font-weight: 700;
}

.level__verification--status {
  color: white;
  text-align: center;
  width: 7rem;
  padding: .4rem .3rem;
  border-radius: 1rem;
  background: var(--pri-color);
}

.level__verification--requirement {
  margin: 2rem 0 0 0;
  /*border: 1px solid black;*/
}

.level__verification__requirement--title {
  font-weight: 700;
  padding: 0 0 .5rem 0;
  border-bottom: 3px solid var(--pri-2-color);
  width: 10rem;
  color: black;
}

.level__verification--requirement ol {
  margin: 1rem 0 0 2rem;
  color: black;
}

.level__verification--requirement ol li {
  margin: 0 0 .5rem 0;
}

.level__verification--images {
  margin: 1.5rem 0;
  padding: 1rem 0;
  border-top: 4px solid white;
  /*border-top: 4px solid var(--pri-2-color);*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.level__verification--images img {
  width: 100%;
  height: 20rem;
  border: 1px solid var(--pri-color);
  margin: .5rem 0 0 0;
}

.accept__reject--action {
  padding: 1rem 0 0 0;
  margin: 1rem 0;
  border-top: 4px solid var(--pri-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.btn__accept {
  width: 60%;
  padding: .4rem .2rem;
  border-radius: .5rem;
  background: none;
  font-weight: 700;
  color: var(--pri-color);
  border: 2px solid var(--pri-color);
}
.btn__reject {
  width: 60%;
  padding: .7rem .2rem;
  border-radius: .5rem;
  background: none;
  color: var(--pri-2-color);
  border: 2px solid var(--pri-2-color);
  font-weight: 700;
}

.btn__accept:hover, .btn__accept:focus {
  background: var(--pri-color);
  color: white;
}
.btn__reject:hover, .btn__reject:focus {
  background: var(--pri-2-color);
  color: white;
}

.reject__modal {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;
  background: var(--pri-color);
  border-radius: 1rem;
  animation: zoomInRotate .4s linear;
  box-shadow: 0 0 .5rem var(--bg-color);
  display: none;
}

.reject__modal div:nth-child(1) {
  color: white;
  margin: 1rem 0 1rem 1rem;
  font-weight: 700;
}

.reject__modal form textarea {
  width: 80%;
  height: 10rem;
  background: white;
  padding: .6rem;
  border-radius: .5rem;
  position: relative;
  left: 50%;
  margin: 0 0 1rem -44%;
}

.reject__modal--action {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}


.btn__proceed {
  width: 60%;
  padding: .4rem .2rem;
  border-radius: .5rem;
  background: var(--pri-color);
  font-weight: 700;
  color: white;
  border: 2px solid white;
}
.btn__cancel {
  width: 60%;
  padding: .7rem .2rem;
  border-radius: .5rem;
  background: var(--pri-2-color);
  color: white;
  border: 2px solid white;
  font-weight: 700;
}

@keyframes zoomInRotate {
  0% {
    transform: scale(0);
    /*transform: skew(180deg);*/
    /*transform: rotate(0deg);*/
  }
  100%{
    transform: scale(1);
    /*transform: skew(0deg);*/
    /*transform: rotate(360deg);*/
  }
}


/* payment verification  */
.payment__verification--filter {
  position: relative;
}

.btn__filter {
  width: 80%;
  padding: .4rem .2rem;
  border-radius: .5rem;
  background: var(--pri-color);
  font-weight: 700;
  color: white;
}

.level__verification--info {
  width: 87%;
  padding: 1rem;
  color: white;
  line-height: 1.9rem;
  font-family: "Source sans pro", "Sans-Serif";
  background: rgba(63,107,148,0.747);
  margin: 1rem auto;
}

.payment__verification--box {
  margin: 0 0 1rem 0;
  box-shadow: 0 0 .5rem var(--dark-bg-color);
  border-left: 4px solid var(--pri-color);
  background: var(--pri-color);
  border-radius: 1rem;
  padding: 1rem 0;
}

.payment__verification--user {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  font-weight: 700;
}

.payment__verification--user p:nth-child(1) {
  color: white;
  font-size: 2rem;
  display: grid;
  align-content: center;
}

.payment__verification--user div {
  background: var(--pri-2-color);
  width: 70%;
  padding: .2rem .1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
}

.payment__verification--amount {
  font-size: 4rem;
  color: white;
  width: 90%;
  margin: 0 auto 1rem;
}

.payment__verification--status {
  /*background: var(--pri-2-color);*/
  box-shadow: .3rem .5rem .7rem var(--dark-bg-color);
  padding: .5rem;
  border-radius: 1rem;
  color: white;
  width: 8rem;
  text-align: center;
  margin: 0 0 2rem 2rem;
}


.verification__filter--form {
  position: absolute;
  background: var(--pri-color);
  border-radius: 1rem;
  padding: .7rem;
  top: 2.5rem;
  right: 1rem;
  width: 20rem;
  border: 2px solid var(--pri-2-color);
  animation: zoomIn .3s linear;
  display: none;
}



.verification__filter--content {
  margin: 0 0 1rem 0;
  padding: 0 0 .5rem .5rem;
  border-left: 4px solid white;
  /*border: 1px solid black;*/
}

.verification__filter--content label {
  color: white;
  font-weight: 800;
  font-size: 1.8rem;
}

.payment__status--verification {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--bg-color);
  grid-gap: 1rem;
  margin: 1rem 0 0 0;
}

.payment__status--verification div input[type="text"] {
  width: 90%;
  height: 2rem;
}

.payment__status--verification div input[type="date"] {
  width: 90%;
  height: 2rem;
}

.verification__filter--content div {
  font-size: 1.5rem;
}

/* Payment verification detail page */
.payment__verification--header {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  /*border: 1px solid black;*/
  justify-content: center;
}

.payment__verification--buyer div {
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  background: var(--pri-color);
  padding: 1rem;
  width: 90%;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Source sans pro", "Sans-Serif";
}

.payment__verification--buyer div p:nth-child(2) {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Merriweather", "Serif";
}

.payment__verification--buyer div p:nth-child(3) {
  margin: 0 0 .5rem 0;
}

.payment__verification--buyer div p:nth-child(4) {
  
}

.payment__verification--seller div {
  width: 90%;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  background: var(--pri-color);
  padding: 1rem;
  color: white;
  font-family: "Source sans pro", "Sans-Serif";
}

.payment__verification--seller div p:nth-child(1) {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Merriweather", "Serif";
}

.payment__verification--seller div p:nth-child(2) {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Merriweather", "Serif";
}

.payment__verification--seller div p:nth-child(3) {
  margin: 0 0 .5rem 0;
}

.payment__verification--seller div p:nth-child(4) {
  margin: 0 0 .5rem 0;
}

.payment__verification--wrapper h3 {
  margin: 0 0 .5rem 0;
}



.payment__verification--content {
  border-radius: 1rem;
  background: var(--pri-color);
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40% 60%;
}

.payment__verification--detail {
  font-family: "Source sans pro", "Sans-Serif";
  color: white;
  padding: 1rem;
  font-weight: 700;
}
.payment__verification--detail p {
  padding: 0 0 .5rem 0;
}

.payment__verification--screenshot img {
  width: 95%;
  height: 20rem;
  margin: 0 0 1rem 0;
}