:root {
  --bg-color: #f4f4f4;
  --pri-color: #3f6b94;
  --pri-2-color: #ef7d32;
  --dark-bg-color: #cccccc;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Colors
************** black family
#f4f4f4
#cccccc

************* Blue family
#88d0e9 
#72c5e2
#c1e8f5
*/

/*
"Merriweather", "Serif"
"Source sans pro", "Sans-Serif"
*/

.wrapper {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  font-size: 1.5rem;
  position: relative;
  /*border: 1px solid black;*/
}

a {
  text-decoration: none;
  color: black;
}

body {
  background: var(--bg-color);
}