body {
  font: 1rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  font-size: 1rem;
  position: relative;
  /*border: 1px solid black;*/
}

/***
******* Header
***/
.header {
  display: grid;
  height: 4rem;
  background: var(--pri-color);
  padding: 0 1rem;
  grid-template-columns: 2fr 2fr 1.5fr 1.5fr;
  /*grid-gap: .6rem;
  /*border: 1px solid black;*/
}


.logo {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 2rem;
  margin: auto 0;
  /*border: 1px solid black;*/
}

.escrowme__logo--image {
  width: 100%;
  height: 1.5rem;
}

.nextbrain {
  color: white;
  display: grid;
  align-content: center;
  text-align: center;
  font-size: .8rem;
}

.signup {
  box-shadow: 0 0 2rem var(--pri-color);
  display: grid;
  align-content: center;
  justify-content: center;
  height: 2rem;
  margin: auto 0;
  color: white;
  font-weight: 700;
  font-size: .8rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid var(--pri-2-color);
  /*background: white;
  /*border: 1px solid black;*/
}


.signup__active {
  background: var(--pri-2-color);
}

.login__active {
  background: var(--pri-2-color);
}

.login {
  box-shadow: 0 0 2rem var(--pri-color);
  color: white;
  display: grid;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  height: 2rem;
  margin: auto 0;
  font-size: .8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid var(--pri-2-color);
  /*background: var(--pri-2-color);
  /*border: 1px solid black;*/
}


/***
******* Login Content
****/
.form__content {
  width: 80%;
  margin: 5rem auto;
  padding: 3rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 3rem var(--bg-color);
  background: white;
  /*border: 1px solid black;*/
}

.form__header {
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  color: var(--pri-color);
}

.form__temp {
  margin: 1rem 1rem;
  /*border: 1px solid black;*/
}

.form__input {
  width: 95%;
  height: 2rem;
  margin: .5rem 0;
  padding: 0 .5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

.form__input:focus:invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 0 2rem #cccccc;
}

.login__btn {
  width: 100%;
  background: var(--pri-color);
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem var(--bg-color);
  color: white;
  text-align: center;
  font-family: times;
  border: none;
}

.forgot__password--text {
  color: var(--pri-color);
  font-size: 1rem;
  display: grid;
  justify-content: end;
}

.active__black:focus {
  background: white;
  outline: var(--pri-color);
  box-shadow: 0 0 2rem #cccccc;
  font-weight: 900;
  transition: background 2s;
  color: black;
}

.active__black:active {
  background: white;
  outline: var(--pri-color);
  box-shadow: 0 0 2rem #cccccc;
  font-weight: 900;
  transition: background .5s;
  color: black;
}


/***
****** Footer
***/

.footer {
  width: 100%;
  padding: 1rem 0;
  background: white;
}

.footer__content {
  margin: 1rem;
  border-bottom: 2px solid var(--bg-color);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*
"Merriweather", "Serif"
"Source sans pro", "Sans-Serif"
*/


.footer__content > div {
  font-family: "Merriweather", "Serif";
  /*border: 1px solid black;*/
}

.footer__content > div ul {
  list-style-type: none;
}

.footer__content > div h5 {
  padding: 0 0 1rem 0;
  font-weight: 900;
  font-size: 1rem;
}

.footer__content > div ul li {
  padding: 0 0 1rem 0;
  font-size: .8rem;
}

.footer__content > div p {
  font-size: .8rem;
  margin: .5rem 0 0 0;
  line-height: 1.3rem;
  font-family: "Source sans pro", "Sans-Serif";
}

.footer__copyright {
  margin: 0 1rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__copyright span:nth-child(2) {
  justify-self: end;
}

.xcrowme__logo {
  width: 100%;
  height: 3rem;
  margin: 2rem auto;
}


/*
.footer {
  width: 100%;
  padding: 1rem 0 0 0;
  background: var(--pri-color);
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-content: center;
  justify-content: center;
}

.footer__content--section {
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
}

.footer__content--section p:nth-child(1) {
  margin: 0 0 1rem 0;
  border-left: 4px solid var(--pri-2-color);
  padding: 0 0 0 .5rem;
  color: black;
  font-family: "Merriweather", "Serif";
  font-weight: 500;
}

.footer__content--section a {
  color: white;
  margin: 0 0 .4rem 0;
}

.footer__content:nth-child(1) {
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer__content:nth-child(2) {
  
}

.footer__logo {
  width: 80%;
  height: 4rem;
  margin: 2rem auto;
  /*background: white;
  border-radius: .5rem;
  /*background: white;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 1rem;
  color: var(--pri-color);
  font-family: "Merriweather", "Serif";
  font-weight: 900;
  /*border: 1px solid black;*//*
}

.es__logo {
  width: 100%;
}

.social__media {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.space {
  padding: .2rem;
}

.footer__copyright {
  width: 100%;
  height: 2rem;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  color: white;
  background: var(--pri-2-color);
  display: grid;
  align-content: center;
  justify-content: center;
}
*/
/*
.footer {
  width: 100%;
  height: 15rem;
  background: var(--pri-color);
  padding: 1rem 0 0 0;
  /*position: absolute;
  bottom: 0;*//*
}

.footer__content {
  height: 80%;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  color: white;
  grid-template-columns: 1fr;
}

.footer__content--section {
  display: grid;
  justify-content: center;
}

.footer__copyright {
  height: 20%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
  background: #72c5e2;
}
*/
/***
****** Dashboard
***/
.dashboard__header {
  /*width: 100%;*/
  height: 4rem;
  padding: 0 0 0 .5rem;
  display: grid;
  grid-gap: .6rem;
  background: white;
  grid-template-columns: 1fr 2.5fr 1fr 2fr 2.5fr;
  position: relative;
  /*position: fixed;
  /*border: 1px solid black;*/
}


.header__menu {
  height: 1.7rem;
  /*border: 1px solid black;*/
  display: grid;
  align-content: center;
  justify-content: center;
  align-self: center;
  background: var(--pri-color);
}

#bars {
 font-size: 1.5rem;
  color: white;
}

.user__level {
  height: 2rem;
  background: var(--pri-color);
  color: white;
  border-radius: .5rem;
  margin: auto 0;
  font-size: .6rem;
  text-align: center;
  display: grid;
  align-content: center;
  border: 1px solid var(--bg-color);
  
}

.user__avatar {
  height: 1.5rem;
  margin: auto .5rem auto 0;
  display: grid;
  grid-gap: .3rem;
  grid-template-columns: 30% 70%;
  align-content: center;
  justify-content: center;
  /*position: relative;*/
  /*border: 1px solid black;*/
}

.user__avatar--pics {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.user__username {
  align-self: center;
  font-size: .7rem;
  font-weight: 700;
  /*border: 1px solid black;*/
}

.drop__down {
  position: absolute;
  right: .7rem;
  top: 4rem;
  width: 8rem;
  border: 1px solid var(--bg-color);
  padding: .5rem;
  background: var(--pri-2-color);
  border-radius: .4rem;
  grid-gap: 1rem;
  color: #cccccc;
  display: none;
}

.drop__down--content {
  margin: 0 0 .7rem .7rem;
  color: white;
}

.drop__down--content a {
  color: white;
}

.drp__padding {
  padding: 0 0 0 1rem;
}

.basic__user--content {
  width: 100%;
  height: 15rem;
  background: var(--pri-color);
  /*border: 1px solid black;*/
}

.welcome__onboard {
  font-family: Arial;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  height: 40%;
  display: grid;
  align-content: center;
  /*border: 1px solid black;*/
}

.user__detail {
  width: 80%;
  height: 58%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-content: center;
  /*border: 1px solid black;*/
}

.user__detail--content {
  justify-self: end;
}

.user__detail--pics {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.user__detail--wallet {
  justify-self: start;
  align-self: center;
  color: var(--bg-color);
  font-family: times;
  font-weight: 700;
  font-family: Courier;
}


/*******++*****************************
++++++++++***********+++*+*************
     +*+*++*+++*+*++*+*++*++*++*+
++++++++ LEFT DROP DOWN ***************
     +*+*++*+++*+*++*+*++*++*++*+
*******+++*****************************
*******+++****************************/


.navigation {
  position: absolute;
  top: 4rem;
  z-index: 9999;
  height: calc(100% - 4rem);
  width: 0;
  transition: .5s;
  overflow: hidden;
  background: white;
  /*border: 1px solid black;*/
}

.navigation:hover,
	.navigation.active{
	width: 70%;
}

.navigation ul{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
}

.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}

.navigation ul li:hover{
	background: var(--pri-color);
}

.navigation ul li a{
	position: relative;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: black;
}

.navigation ul li a .icon{
	position: relative;
	min-width: 5rem;
	display: block;
	height: 3rem;
	line-height: 2rem;
	text-align: center;
	font-size: 2rem;
}
.navigation ul li a .nav__text{
	position: relative;
	display: block;
	padding: 0 5px;
	height: 3rem;
	line-height: 2rem;
	text-align: start;
	white-space: nowrap;
}



/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++ DASHBOARD CONTENT ************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

.dashboard__content {
  width: 100%;
  height: 10rem;
  background: white;
  margin: 1rem 0;
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++±++++++++ USER MEMU **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

.user__menu {
  width: 100%;
  margin: 3rem auto;
  /*border: 1px solid black;*/
}

.menu__header {
  font-family: times;
  font-weight: 700;
  margin: 0 0 1rem 1rem;
  /*border: 1px solid black;*/
}

.user__menu--container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
}

.menu {
  border-radius: 1rem;
  background: white;
  height: 10rem;
}

.btc {
  font-size: 3rem;
  display: grid;
  justify-content: center;
  margin: 1.5rem auto;
}

.menu__text {
  font-family: Arial;
  text-align: center;
  background: var(--pri-color);
  width: 5rem;
  padding: .5rem;
  margin: 0 auto;
  border-radius: 1rem;
  color: white;
}

.menu__text a {
  color: white;
}

/* User activity style goes here */
.user__activity {
  width: 100%;
  margin: 5rem auto;
  background: white;
  height: 20rem;
}


/***
****** Profile page
***/
.profile__container {
  width: 95%;
  margin: 1rem auto;
  border-radius: 1rem;
  display: grid;
  position: relative;
  /*border: 2px solid black;*/
}

.profile__sidebar {
  position: relative;
  width: 90%;
  margin: 1rem auto;
  background: var(--pri-color);
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0;
}

.profile__sidebar--text {
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.profile__active {
  background: #72c5e2;
  border-left: 3px solid white;
  transition: all .6s;
}

.profile__margin {
  padding: .5rem;
}

.profile__margin a {
  color: white;
}

.profile__content {
  width: 90%;
  background: white;
  padding: 0 0 0 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
  /*border: 1px solid black;*/
}

.profile__content--container {
  margin: 1rem 0 3rem;
  background: white;
  border-left: 4px solid var(--pri-color);
  padding: 0 0 0 1rem;
  /*border: 1px solid black;*/
}

.profile__content--header {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.2rem;
  /*padding: 0 0 0 .5rem;
  border-left: 3px solid var(--pri-color);*/
}

.profile__content--pics {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.update__profile--btn {
  width: 10rem;
  font-size: .8rem;
  background: var(--pri-color);
  height: 2.5rem;
  border-radius: .6rem;
  box-shadow: 0 0 2rem var(--bg-color);
  color: white;
  text-align: center;
  font-family: times;
  border: none;
}

.profile__settings {
  font-size: 1rem;
  margin: 1rem 0;
}

.profile__form--input {
  width: 90%;
  height: 3rem;
  margin: .5rem 0 0 0;
  padding: 0 0 0 .5rem;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

.profile__form--input:focus:invalid {
  border-bottom: 2px solid red;
  box-shadow: 0 0 2rem #cccccc;
}


.upload__image {
  margin: 0;
  opacity: 0;
}

#upload__image--label {
  background: var(--pri-color);
  padding: .5rem;
  border-radius: 1rem;
  color: white;
}

.upload__image--settings {
  margin: 2rem 0 0 0;
}

/***
****** Varification
***/

.verification__container {
  margin: 2rem auto 1rem;
  width: 90%;
  position: relative;
  /*border: 1px solid black;*/
}
/*
.level__limit {
  position: absolute;
  left: .5rem;
  top: -.5rem;
  font-weight: 900;
}*/

.verification__status {
  color: var(--pri-color);
  margin: 0 auto 1rem;
  font-weight: 900;
  height: 2.5rem;
  background: white;
  border-radius: .5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3rem 1fr;
  align-content: center;
  justify-content: center;
  /*border: 1px solid green;*/
}

.fa-check {
  justify-self: end;
  align-self: center;
}

.is__verified {
  color: white;
  margin: 0 auto 1rem;
  font-weight: 600;
  height: 2rem;
  background: green;
  border-radius: .5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3rem 1fr;
  align-content: center;
  justify-content: center;
  border: 1px solid green;
  border-left: 3px solid green;
}

.isnot__verified {
  color: white;
  margin: 0 auto 1rem;
  font-weight: 600;
  height: 2.5rem;
  background: red;
  border-radius: .7rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3rem 1fr;
  align-content: center;
  justify-content: center;
  border: 1px solid red;
  border-left: 3px solid red;
}

.fa-check-circle {
  justify-self: end;
  align-self: center;
}

.fa-ban {
  justify-self: end;
  align-self: center;
}




/***
****** Transaction Page style
***/
.profile__filter--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  width: 95%;
  /*border: 1px solid black;*/
}

.filter__text {
  align-self: center;
}

#transaction__filter {
  justify-self: end;
}

.select__transaction--class {
  height: 2rem;
  padding: 0 .25rem;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

.transaction__history {
  /*font-size: .5rem;*/
  width: 95%;
}

table, th, td {
  font-size: .35rem;
  margin: 1rem auto;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: .2rem;
}

.export__csv {
  width: 13rem;
  background: var(--pri-color);
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem var(--bg-color);
  color: white;
  text-align: center;
  font-family: times;
  border: none;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: .8rem;
}


/***
****** id card container
***/

.id__card--container
{
  font-size: 1rem;
  display: grid;
  /*grid-template-columns: 1fr 1fr;
  align-content: center;*/
}

#id__card--form {
  justify-self: end;
}

.id__card--content {
  align-self: center;
}

.select__id--card--class {
  height: 2rem;
  padding: 0 .5rem;
  margin: 0 0 1rem 0;
  outline: none;
  border: none;
  background: white;
  border-bottom: 2px solid var(--pri-color);
  font-family: times;
  box-shadow: 0 0 2rem var(--bg-color);
}

#id__card--label {
  padding: .5rem;
  border-radius: 1rem;
  background: var(--pri-color);
  color: white;
}

#image {
  opacity: 0;
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ BUY BITCOIN **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

/* "Merriweather", "Serif" "Source sans pro", "Sans-Serif" */

.buy__bitcoin--container {
  font-family: "Source sans pro", "Sans-Serif";
}

.buy__bitcoin--header {
  width: 95%;
  background: #c1e8f5;
  margin: 1rem auto;
  border-radius: .5rem;
  padding: .5rem 0;
}

.buy__bitcoin--header p:nth-child(1) {
  font-family: "Source sans pro", "Sans-Serif";
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0 .5rem .5rem .5rem;
}

.buy__bitcoin--header p:nth-child(2) {
  font-family: "Source sans pro", "Sans-Serif";
  font-size: .8rem;
  margin: 0 .5rem 0 .5rem;
}

.search__offer--container {
  margin: 0 auto 1rem;
  width: 90%;
  /*border: 1px solid black;*/
}

#search__offer--form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.search__container--form {
  font-family: "Merriweather", "Serif";
  font-size: 1rem;
  /*border: 1px solid black;*/
}

#select__payment--type {
  width: 95%;
  height: 2rem;
  background: white;
  border: none;
  border-bottom: 2px solid var(--pri-color);
  margin: .2rem 0 0 0;
  font-family: "Merriweather";
}

#select__amount--type {
  width: 95%;
  height: 2rem;
  background: white;
  border: none;
  border-bottom: 2px solid var(--pri-color);
  margin: .2rem 0 0 0;
  font-family: "Merriweather", "Serif";
}

.search__offer--btn {
  background: var(--pri-color);
  height: 2rem;
  border-radius: .2rem;
  width: 95%;
  justify-self: center;
  align-self: center;
  color: white;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  border: none;
  box-shadow: 0 0 2rem white;
  font-size: .6rem;
}

.search__container--form:nth-child(3) {
  font-size: .8rem;
}

.bold__current--price {
  font-weight: 900;
  
}

.list__offers--container {
  margin: 1rem auto 1rem;
  width: 95%;
  padding: 1rem 0;
  /*border: 1px solid black;*/
}

.list__offer--header {
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  text-align: center;
  margin: 0 0 1rem 0;
}

.list__of--offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.list__offer--content {
  background: white;
  border-radius: 1rem;
  padding: 1rem 0;
  /*border: 1px solid black;*/
}

.list__offer {
  width: 95%;
  margin: 0 auto 1rem;
  border-bottom: 2px solid var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  height: 3rem;
  align-content: center;
  justify-content: center;
  /*border: 1px solid black;*/
}

.offer__buy {
  width: 70%;
  height: 2rem;
  border-radius: .5rem;
  background: var(--pri-color);
  color: white;
  font-family: "Merriweather", "Serif";
  font-weight: 700;
  display: grid;
  align-content: center;
  justify-content: center;
}

/*
.table__header {
  width: 90%;
  background: white;
  border-radius: .5rem;
  border: 1px solid var(--bg-color);
}

.table__header tr {
  height: 2rem;
}

.table__header tr th {
  font-size: 1rem;
  text-align: center;
}

.table__header, table, tr, th, td {
  border: none;
}

.offer {
  width: 90%;
  margin: 0 auto;
  background: white;
  display: grid;
  align-content: center;
  border-radius: .5rem;
  padding: 0 0 1rem 0;
}

.offer:nth-child(even) {
  background: var(--bg-color);
  box-shadow: 0 0 2rem white;
}

.offer__content {
  font-family: "Source sans pro", "Sans-Serif";
  width: 100%;
  font-size: 1rem;
  text-align: center;
  /*border: 1px solid black;*//*
}

.offer__content td {
  padding: 1rem 0;
  font-size: 1rem;
  font-family: "Merriweather", "Serif";
  /*border: 1px solid black;*//*
}

.offer__content td:nth-child(4) {
  background: var(--pri-color);
  border-radius: .5rem;
  /*padding: 1rem 1.5rem;*//*
}
/*
.offer__allowed {
  text-align: center;
  width: 5rem;
  height: 2rem;
  border: 1px solid green;
  border-radius: .5rem;
}

.allowed {
  border-left: 4px solid green;
}

.not__allowed {
  border-left: 4px solid red;
}

.not__allowed--flag {
  display: grid;
  justify-content: center;
  background: red;
  border-radius: .5rem;
  width: 25rem;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: "Merriweather", "Serif";
  /*font-family: "Source sans pro", "Sans-Serif";*//*
  font-size: 1.2rem;
}



/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
+++++++++++++ USER TRADE **************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

.user__trade--container {
  width: 90%;
  margin: 1rem auto;
  border-radius: 1rem;
  background: white;
  padding: 0 0 2rem 0;
  /*border: 1px solid black;*/
}

.user__trade--header {
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
  background: var(--pri-color);
  color: white;
  font-weight: 300;
  font-family: "Source sans pro", "Sans-Serif";
  font-size: 1rem;
  text-align: center;
  border-radius: .5rem;
  line-height: 4rem;
}

.user__trader--name {
  font-weight: 700;
}

.user__trader--payment {
  font-weight: 700;
}

.user__trader--detail {
  width: 90%;
  font-family: "Merriweather", "Serif";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  box-shadow: 0 0 2.5rem var(--bg-color);
  margin: 2rem auto 1rem;
  border-radius: 1rem;
  padding: 1rem .5rem;
  font-size: 1rem;
}

.user__trader--detail div p:nth-child(2) {
  font-family: "Source sans pro", "Sans-Serif";
  font-size: .8rem;
  font-weight: 700;
  margin: .3rem 0 0 0;
}

#send__buy--request {
  width: 60%;
  margin: 1rem auto;
  font-size: 1.5rem;
  text-align: center;
  /*border: 1px solid black;*/
}

#send__buy--request .form__temp label {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.buy__request--btn {
  padding: .5rem 1rem;
  background: var(--pri-color);
  color: white;
  text-align: center;
  border-radius: 1rem;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}


/*******++*****************************
++++++++++***********+++*+*************
     ()+*++*+++*+*++*+*++*++**+()
++++++++++++ SEND RECEIVE *************
     ()+*+*++*+++*+*++*+*+++*++()
*******+++*****************************
*******+++****************************/

.send__receive--container {
  width: 90%;
  margin: 1rem auto;
  /*border: 1px solid black;*/
}

.send__receive--header {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: "Merriweather", "Serif";
  font-weight: 800;
  /*border: 1px solid black;*/
}

.send__receive--header p:nth-child(1), p:nth-child(2) {
  height: 2rem;
  display: grid;
  align-content: center;
}

.send__btc--active {
  background: var(--pri-color);
  color: white;
  border-radius: .5rem;
  box-shadow: 0 0 1rem white;
}

#send__content {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 0;
  background: white;
  border-radius: .5rem;
  display: none;
  /*border: 1px solid black;*/
}

#receive__content {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 0;
  background: white;
  border-radius: .5rem;
  display: none;
  /*border: 1px solid black;*/
}

.send__btc--btn {
  width: 85%;
  padding: 1rem 1rem;
  background: var(--pri-color);
  color: white;
  text-align: center;
  border-radius: 1rem;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}