:root {
  --bg-color: #f4f4f4;
  --pri-color: #88d0e9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Colors

#f4f4f4 Background
#88d0e9 
#cccccc
#72c5e2
*/
.wrapper {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  font-size: 1.5rem;
  /*border: 1px solid black;*/
}

a {
  text-decoration: none;
  color: black;
}

body {
  background: var(--bg-color);
}