<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/768wide-screen.css" /> -->
    <link rel="shortcut icon" href="#" type="image/png">
    <title>Forget password - Escrowme</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <a href="#" class="nextbrain"><span></span><h1>Xcrome</h1></a>
        <a href="signup.html" class="signup">Register</a>
        <a href="login.html" class="login">Login</a>
      </div>
      
      <!-- Login Content -->
      <div class="form__content">
        <div class="form__header">
          Forgot Password
        </div>
        
        <form class="form">
          <div class="form__temp">
            <label for="email">Email</label><br>
            <input type="email" class="form__input" placeholder="example@nextbrain.io" required>
          </div>
            <input type="submit" class="submit__btn" value="Send">
            <a href="signup.html" class="link_text">signup</a>
        </form>
      </div>
      
      <!-- Footer -->
      <div class="footer">
        <p>Made with love and creativity by <a href="#">NextBrain</a></p>
      </div>
    </div>
  </body>
</html>